* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-image: url(./assets/black-bkd.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coin-icon {
    width: 150px;
    height: 150px;
    margin: 30px;
}

main {
    background-color: #F4F4F4;
    padding: 30px;
    width: 375px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #101010;

}

select,
input {
    width: 327px;
    height: 48px;
    border: 1px solid #101010;
    border-radius: 4px;
    appearance: none;
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #555555;
    padding-left: 20px;
}



button {
    width: 327px;
    height: 48px;
    border: 1px solid black;
    cursor: pointer;
    background-color: #FFFFFF;
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    border-radius: 5px;
    margin-top: 18px;
    margin-bottom: 30px;
}

button:hover {
    opacity: .8;
}

button:active {
    opacity: .5;
}

section {
    border: 1px solid black;
    width: 327px;
    height: 276px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

p {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #555555;
}

.arrow-icon {
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 420px){
    main {
        width: 365px;
        margin-bottom: 20px;
    }
    .coin-icon {
        width: 130px;
        height: 130px;
        margin: 30px;
    }
}

@media screen and (max-width: 410px){
    main {
        width: 365px;
    }
}

@media screen and (max-width: 400px){
    main {
        width: 335px;
    }

    select, input {
        width: 300px;
    }

    button, section {
        width: 300px;
    }
}

@media screen and (max-width: 370px){
    main {
        width: 300px;
    }

    select, input, button, section {
        width: 275px;
    }

}

@media screen and (max-width: 320px){
    main {
        width: 280px;
    }

    select, input, button, section {
        width: 240px;
    }

}

@media screen and (max-width: 290px){
    main {
        width: 245px;
    }

    select, input, button, section {
        width: 180px;
    }

    section {
        height: 310px;
    }
}